.iconWrapperr {
  width: 12rem;
  height: 12rem;
  border: 5px solid #15549a;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.iconn {
  font-size: 2.5rem;
  color: #15549a;
}
.iconnn {
  gap: 40px;
}
.main {
  padding: 4rem;
}
.heading {
  color: #004b7a;
}
.imgg {
  margin-left: 50px;
}
.paragraph {
  font-size: 1rem;
}
.outerDiv {
  position: relative;
  background-color: #f1f1f1;
  padding: 50px;
  margin-top: 2rem ;
}
.innerDiv {
  padding-top: 1.5rem;
  margin: 10px;
  text-align: center;
}
.topText {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 24px;
  font-weight: bold;
  color: #004b7a;
}
.iconText {
  font-family: sans-serif;
  letter-spacing: 1px;
  padding-top: 5%;
  color: #15549a;
  font-size: 1rem;
}
.icon1 {
  color: #004b7a;
  font-size: 70px;
}
.icon2 {
  color: #004b7a;
  font-size: 70px;
}
.icon3 {
  color: #004b7a;
  font-size: 70px;
}
.icon4 {
  color: #004b7a;
  font-size: 70px;
}
.processContainer {
  background-color: #f1f1f1;
  padding: 40px 0;
}
.processContainerp {
  padding: 40px 0;

}
.processContent {
  padding: 20px;
  text-align: center;
  color: #004b7a;
}
.heading {
  padding-bottom: 1rem;
}

.headingMore {
  margin-top: 20px;
  text-align: center;
  color: #004b7a;
  font-weight: bolder;
  font-size: 25px;
}
.heading2 {
  text-align: center;
  color: #004b7a;
  font-weight: bolder;
  font-size: 20px;
}
.headingp {
  text-align: center;
  color: black;
  font-weight: 400;
  font-size: 15px;
}
.col {
  margin-bottom: 2rem;
}
.step {
  padding: 1rem;
}
.icon {
  font-size: 5rem;
}
.iconText {
  color: #004b7a;
  font-family: sans-serif;
}
.text {
  font-size: 1rem;
}
.iconWrapper {
  width: 7.5rem;
  height: 7.5rem;
  border: 2px solid rgb(221, 219, 219);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e4e0e0;
  margin-bottom: 10px;
}
.accordionContainer {
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  margin-bottom: 30px;
}
.questionContainer {
  font-weight: bold;
  color: #004b7a;
}
.heading3 {
  margin-bottom: 2rem;
  text-align: center;
  color: #004b7a;
  font-weight: bold;
  font-size: 30px;
}
.partnerContainer {
  background-color: #f1f1f1;
  padding: 40px 0;
  margin-bottom: 50px;
}

.headingf {
  color: #ffffff;
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 20px;
}

.paragraph {
  color: #ffffff;
  font-size: 1rem;
  font-weight: 400;
}

.button1 {
  width: 240px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 30px;
  letter-spacing: 2px;
  background-color: #15549a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.button1:hover {
  background-color: #e0b500;
}
.container {
  width: 35%;
  height: auto;
  /* background-color: #ffffff; */
  padding: 30px;
}
.mockup {
  width: 90%;
  height: auto;
  margin: auto;
}
.form_heading {
  height: 30px;
  color: #15549a;
  font-size: 20px;
  letter-spacing: 1px;
}
.heading4 {
  color: white;
  font-size: 17px;
}
.buttonf {
  width: 100%;
  height: 44px;
  background-color: #15549a;
  border: 1px solid transparent;
  border-radius: 6px;
  color: #fff;
  font-size: 20px;
  font-weight: 800;
  cursor: pointer;
  margin-bottom: 20px;
}
.list {
  display: flex;
  gap: 4px;
}
.container2 {
  background-color: #f1f1f1;
}
.row2 {
  display: flex;
  text-align: center;
  width: 100%;
  margin: auto;
}

.mini_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 250px;
  height: 240px;
  margin-right: 10px;
}

.icon22{
  padding: 20px;
}

.heading6 {
  text-align: center;
  color: #3c4d6b;
  font-size: 20px;
  margin: 2px 0 2px 0;
}
.heading7{
  color: #15549a;
}

.paragraph3 {
  color: #777777;
  font-size: 14px;
  margin: 2px 0 10px 0;
  letter-spacing: 0.5px;
  font-weight: 400;
}
.box4 {
  width: 1270px;
  height: 380px;
  margin: auto;
  padding: 100px 0;
}

.circle {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 190px;
  height: 190px;
  border-radius: 50%; 
  border: 4px solid #15549a; 
}

.digit {
  color: #15549a;
  font-size: 30px;
  font-weight: 700;
}

.content {
  color: #15549a;
  font-size: 20px;
  font-weight: 600;
}

.icon {
  color: #15549a;
  margin-bottom: 10px;
}

.cont {
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: auto;
  padding: 30px 0;
  perspective: 1000px;
  background: url("https://www.eduloans.org/blogs/wp-content/uploads/2018/12/eduloans-blog-banner.jpg")    center center/cover fixed;
  position: relative;
  z-index: 1;
}
.cont:before {
  content: "";
  display: block;
  background: -webkit-linear-gradient(     rgba(21, 84, 154, 0.85),    rgba(21, 84, 154, 0.85) );
  position: absolute;
  left: 0;
  top: 0;
  height: -webkit-fill-available;
  width: 100%;
  z-index: -1;
}

.contI {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  gap: 30px;
}
.boxx1 {
  width: 1000px;
  display: grid;
  grid-template-columns: auto auto;
}

.amount{
  display: flex;
}
.amountSpan {
  margin-left: 10px;
  font-size: 15px;
}
.box1 {
  width: 50%;
  height: 50vh;
  padding: 6px 12px;
}
.icon22 {
  width: 50px;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #15549a;
  border-radius: 10px;
  color: white;
}
.container4 {
  margin: 30px 0;
  background-color: #f1f1f1;
}
.carousel_container {
  position: initial !important;
}
.carousel_container .react-multiple-carousel__arrow--left {
  position: absolute;
  left: 0;
}

.carousel_container .react-multiple-carousel__arrow--rightr {
  position: absolute;
  right: 0;
}
.input{
  margin-bottom: 10px;
}

.amount{
    border: 1px solid #eeeeee;
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 4px;
}
.head6{
 display: inline-block;
 margin-right: 10px;
}
.range{
  width: 30%;
}
.loanCard2{
  color: #004b7a;
  margin: 20px;
  text-align: center;
}
.content{
  text-align: center;
}
.mainButton{
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  width: 100px;
  margin: 0 1rem;
  background-color: white;
  color: #225B87;
  border: 2px solid #225B87;
}

.button.selected {
  background-color: #225B87;
  color: white;
}
.button:hover{
  background-color: #225B87;
}
.cardContainer{
  margin: 0.4rem;
}
.container2{
  padding: 10px;
}
.cardName{
  color: #004b7a;
  font-size: 22px;
}
.cardSpecility{
color: #333333;
font-size: 15px;
margin-bottom: 10px;
}

.b{
  display: flex;
}

.link{
  text-decoration: none;
  color: #ff9900;
  font-size: 14px;
  padding: 6px 12px;
  cursor: pointer;
}
.cardButton{
  background-color: #225B87;
}
.linkDiv{
  display: flex;
}
@media only screen and (max-width: 500px) {
  .cont {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .box1 {
    width: 100%;
    text-align: center;
    height: auto;
  }

  .headingf {
    color: #ffffff;
    font-size: 25px;
    font-weight: 500;
  }


  .form_heading{
    margin-bottom: 20px;
  }

  .boxx1{
    grid-template-columns: auto ;
    width: 70%;
    gap: 10px;
  }
  .container {
    width: 100%;
    height: auto;
  }

  .control {
    width: 70%;
  }

  .center {
    width: 100%;
    height: auto;
  }

  .center2{
      width: 100%;
      height: auto;
  }
  .boxx1 {
    width: 100%;
    flex-direction: column;
  }
  .range{
    width: 100%;
  }
  }


@media only screen and (max-width: 1024px) {
  .cont {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .box1 {
    width: 75%;
    text-align: center;
    height: auto;
  }
  .paragraph {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
  }

  .button1{
    align-items: center;
  }



  .container {
    width: 100%;
    height: auto;
  }
  .boxx1{
    width: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
    gap: 10px;

  }

}

  








.mainbox {
  background-color: #2e364a;
  padding: 100px 0;
}

.timeline_animation {
  position: relative;
  max-width: 1200px;
  margin: auto;
  height: 0%;
}

.container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  opacity: 0;
  z-index: 2;
}

.container_animation {
  animation: movedown 1s linear forwards;
}

@keyframes movedown {
  0% {
      opacity: 0;
      transform: translateY(-10px);
  }

  100% {
      opacity: 1;
      transform: translateY(0px);
  }
}

.container:nth-child(1) {
  animation-delay: 0s;
}

.container:nth-child(2) {
  animation-delay: 1s;
}

.container:nth-child(3) {
  animation-delay: 2s;
}

.container:nth-child(4) {
  animation-delay: 3s;
}

.container:nth-child(5) {
  animation-delay: 4s;
}

.text_box {
  padding: 20px 30px;
  background: #fff;
  position: relative;
  border-radius: 6px;
  font-size: 15px;
}

.text_box h2 {
  margin-bottom: 10px;
}

.left_container {
  left: 0%;
}

.right_container {
  left: 50%;
}

.image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 40px;
  height: 40px;
  margin: auto;
  position: absolute;
  right: -20px;
  top: 32px;
  z-index: 10;
  border-radius: 50%;
}

.right_container .image {
  left: -20px;
  right: auto;
}

.timeline_animation::after {
  content: '';
  position: absolute;
  width: 6px;
  height: 100%;
  background: #fff;
  top: 32px;
  left: 50%;
  margin-left: -3px;
  z-index: 1;
  animation: moveline 4s linear forwards;
}

/* .timeline_animation{
} */

@keyframes moveline {
  0% {
      height: 0%;
  }

  100% {
      height: calc(100% - 136px);
  }

}

.left_container_arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fff;
  right: -14px;
}

.right_container_arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 28px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fff;
  left: -14px;
}

@media screen and (max-width: 600px) {
  .timeline {
      margin: 50px auto;
  }

  .timeline::after {
      left: 31px;
  }

  .container {
      width: 100%;
      padding-left: 80px;
      padding-right: 25px;
  }

  .text_box {
      font-size: 13px;
  }

  .right_container {
      left: 0%;
  }

  .right_container .image,
  .image {
      left: 10px;
      right: auto;
  }

  .left_container_arrow {
      left: -14px;
      border-right: 15px solid #fff;
      border-left: none;
  }
}